[user]
	name = Will Pragnell
[core]
	autocrlf = input
	attributesfile = ~/.gitattributes
	excludesfile = ~/.global_gitignore
	pager = delta --diff-so-fancy
[interactive]
	diffFilter = delta --diff-so-fancy --color-only
[delta]
	navigate = true
	keep-plus-minus-markers = true
	line-numbers = true
	hunk-header-style = omit
[diff]
	colorMoved = default
[color]
	ui = auto
[alias]
	st = status
	ci = commit --verbose
	co = checkout
	br = branch
	puff = pull --ff-only
	purb = pull --rebase
	l = "!. ~/.githelpers && pretty_git_log"
	lg = !git l -16
	la = !git lg --all
	su = submodule update --init --recursive
	sno = show --name-only
	sns = show --name-status
[github]
	user = goonzoid
[push]
	default = current
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[advice]
	statusHints = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# vim: noexpandtab
