*.DS_Store
*.log

/.CFUserTextEncoding
/.Trash/
/.ansible/
/.base16_theme
/.bash_history
/.bosh/
/.bosh_cache/
/.bosh_config
/.bosh_init/
/.cache/
/.cargo/
/.cf/
/.config/direnv/
/.config/gcloud/
/.config/htop/
/.cups/
/.dbshell
/.docker/
/.dockercfg
/.dropbox/
/.elinks/
/.elm/
/.flyrc
/.gem/
/.ghc/
/.git-authors
/.grip/
/.gsutil/
/.heroku/
/.htoprc
/.ipython/
/.irb-history
/.irssi/
/.iStats/
/.jssc/
/.lein/
/.lesshst
/.local/
/.lpass/
/.m2/
/.mailcap
/.matplotlib/
/.mongorc.js
/.mplayer/
/.multirust
/.mutt/
/.muttrc
/.netExtender.log
/.netExtenderCerts/
/.netextender
/.netrc
/.node-gyp/
/.nowdothis
/.npm/
/.npmrc
/.oracle_jre_usage/
/.pip/
/.pow
/.pry_history
/.psql_history
/.rbenv/
/.rediscli_history
/.rustup/
/.sqlite_history
/.ssh/
/.subversion/
/.swt/
/.tig_history
/.vagrant.d/
/.viminfo
/.vimrc_background
/.vim/.netrwhist
/.wireshark/
/.zcache/
/.zcompdump
/.zcompdump.zwc
/.zhistory

/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Splice/
/Videos/
/VirtualBox VMs/

/go/
/workspace/
