*.DS_Store
/.atom/
/.CFUserTextEncoding
/.bash_history
/.boot2docker/
/.bosh_cache/
/.bosh_config
/.cache/
/.cf/
/.cocoapods/
/.config/
/.cups/
/.dbshell
/.dockercfg
/.dropbox/
/.elinks/
/.exercism.json
/.gem/
/.ghc/
/.heroku/
/.htoprc
/.ipython/
/.irb-history
/.irssi/
/.lesshst
/.lein/
/.local/
/.m2/
/.mailcap
/.mongorc.js
/.mplayer/
/.mutt/
/.muttrc
/.netExtender.log
/.netextender
/.netExtenderCerts/
/.netrc
/.node-gyp/
/.npm/
/.npmrc
/.pip/
/.pow
/.pry_history
/.psql_history
/.rbenv/
/.rediscli_history
/.sqlite_history
/.ssh/
/.subversion/
/.swt/
/.Trash/
/.vagrant.d/
/.vim/bundle
/.vim/.netrwhist
/.vim-tmp/
/.viminfo
/.wireshark/
/.zcache/
/.zcompdump
/.zcompdump.zwc
/.zhistory
/Applications (Parallels)/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
!/Library/KeyBindings
/Movies/
/Music/
/Pictures/
/Public/
/Samples/
/VirtualBox VMs/
/exercism/
/go/
/lib/
/tmp/
/workspace/

