[user]
  name = Will Pragnell
  email = wpragnell@gmail.com
[core]
  autocrlf = input
[color]
  ui = auto
[alias]
  st = status
  ci = commit
  ca = commit -a
  cm = commit -m
  cam = commit -a -m
  co = checkout
  cb = checkout -b
  c- = checkout -
  b = branch
  ba = branch -a
  bd = branch -d
  bdel = branch -D
  rs = reset
  di = diff
  diw = diff -w
  dc = diff --cached
  dcw = diff --cached -w
  dh1 = diff HEAD~1
  dr = diff -w -U20
  amend = commit --amend
  aa = add --all
  au = add -u
  ap = add -p
  puff = pull --ff-only
  purb = pull --rebase
  rb = rebase
  ri = rebase -i
  l = "!source ~/.githelpers && pretty_git_log"
  la = !git l --all
  r = !git l -16
  ra = !git r --all
[github]
  user = willpragnell
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false
[merge]
  tool = Kaleidoscope
[mergetool]
  prompt = false
