[submodule ".vim/colors"]
	path = .vim/colors
	url = git@github.com:robertmeta/nofrils.git
[submodule ".vim/nofrils"]
	path = .vim/nofrils
	url = git@github.com:robertmeta/nofrils.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
