snippet It
  It("${1}", func() {
  	${2}
  })
snippet Context
  Context("${1}", func() {
  	${2}
  })
snippet Describe
  Describe("${1}", func() {
  	${2}
  })
snippet Before
  BeforeEach(func() {
  	${1}
  })
snippet After
  AfterEach(func() {
  	${1}
  })
